<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-demo(titrePage=~{:: title}, contenuPage=~{:: .center-main}, ressourcesSupp=~{})}"  lang="">
    <head>
        <title>Accueil - Demo Spring Boot App</title>
    </head>
    <body>
        <main class="center-main">
            <section class="center-section">
                <h1 style="text-align:center">Bienvenue à une formation ENI Ecole</h1>
                <h2 style="text-align:center">Vous utilisez l'application de démonstration sur Spring Web</h2>
            </section>
        </main>
    </body>
</html>