<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Demo Spring Web</title>
	</head>
	<body>
		<h1>Les formateurs de l'ENI</h1>
		<a href="/formateurs/detail?email=abaille@campus-eni.fr">Acceder au détail du formateur</a><br/>
		<a href="/formateurs/detail?email">Le paramètre n'a pas de valeur associée</a><br/>
		<a href="/formateurs/detail">Acceder à la vue sans le paramètre</a><br/>
		
		<h2>Variables de la requête</h2>
		<a href="/formateurs/detail/variable/s.gobin@campus-eni.fr">Acceder à la vue sans le paramètre</a><br/>
		<a href="/formateurs/detail/variable/">Acceder à la vue sans la variable</a><br/>
	</body>
</html>