<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Démo Spring Web</title>
        <link rel="icon" href="/images/logoENI.png" sizes="32x32"/>
        <link rel="stylesheet" type="text/css" href="/css/general.css"/>
        <link rel="stylesheet" href="/css/demo-form.css">
    </head>
    <body>
        <!-- Navbar -->
        <header>
            <h1 id="nav-title"><a href="/">Démonstrations Spring Web</a></h1>
            <nav>
                <ul>
                    <li><a href="/formateurs">Formateurs</a></li>
                    <li><a href="/formateurs/creer">Création</a></li>
                </ul>
            </nav>
        </header>
        <main>
			<!-- Intégration des deux formulaires du formateur -->
           <div data-th-replace="~{fragments/fragment-formateur-detail :: frag-formateur-form}"></div>
			<div data-th-replace="~{fragments/fragment-cours-form :: frag-cours-form}"></div>
		
		</main>
    </body>
</html>